html{
    background-color : white ;
}




body{
	margin : auto;
    margin-top: 5%;
    line-height: 30px;
    text-align: center;
    width: 800px;
    padding: 1em;
    border: 1px solid white;
    background-color : white;
    opacity : 0.8;
	font-family: "avion", sans-serif;
    display : block;
}




/*css du menu deroulant du menu*/
#menu {
    display: none;
    position: absolute;
    top: 15px;
    left: 80px;
    width: 280px;
    background-color: #fff3f8;
    border: 3px solid #f3d6e5;
    padding: 10px;
    height: 250px;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 5;
}

#menu ul li a {
    text-decoration: none;
    color: #0f0e0e;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#MenuButton {
    position: absolute;
    top: 25px;
    left: 30px;
    width: 40px;
    height: 40px;
}




/*css du bouton recette et barre de recherche*/
#Rechercher {
    position: absolute;
    top: 30px;
    left: 380px;
    width: 800px;
    height: 150px;
}

#RechercherButton {
    width: 10%; 
    height: 25%;
    font-size: 15px; 
}

#RechercherBarre {
    width: 60%; 
    height: 25%;
    background-color: #ffffff;
    border: 3px solid #f3d6e5;
    border-radius: 20px;
    font-size: 15px; 
    box-shadow: 0 2px 4px rgba(6, 5, 5, 0.1);
    text-align: center;
}




/*css pour changer le fond en noir*/
#ThemeButton{
    position: absolute;
    top: 30px;
    right : 150px;
    width: 50px;
    height: 30px;
}




/*css du menu deroulant du compte*/
#compte {
    display: none;
    position: absolute;
    top: 50px;
    right: 0px;
    width: 200px;
    background-color: #fff;
    border: 3px solid #ccc;
    padding: 10px;
}

#compte ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#compte ul li a {
    text-decoration: none;
    color: #0f0e0e;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#CompteButton {
    position: absolute;
    top: 25px;
    right: 30px;
    width: 100px;
    height: 40px;
    text-align: center;
}




/*css des buttons*/
.Button {
    background-color: #ffffff;
    border: 3px solid #f3d6e5;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 20px;
}

.Button:hover {
    background-color: #f7ebf0;
}

.Button {
    box-shadow: 0 2px 4px rgba(6, 5, 5, 0.1);
}
  
.Button:hover {
    box-shadow: 0 3px 8px rgba(10, 9, 9, 0.2);
}




/*css du lien et l'image de recette*/
.Lien1RecetteAccueil {
    text-decoration: none;
    color: #0f0e0e;
    list-style-type: none;
    left : 5px;
    padding: 0;
    margin: 0;
}

.Lien2RecetteAccueil {
    text-decoration: none;
    color: #0f0e0e;
    list-style-type: none;
    right : 5px;
    padding: 0;
    margin: 0;
}

.ImageRecetteAccueil{
    text-decoration: none;
    color: #0f0e0e;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Style du cœur initial */
.jaime-icon {
    color: red;
    transition: color 0.3s;
    cursor: pointer;
  }
  
  .favori {
    color: red;
  }
  
  .non-favori {
    color: gray;
  }
  
  
