html{
    background-color : #d9b9b9 ;
}

/* fond et taille de police*/
body {
    font-family: Arial, sans-serif;
    margin : auto;
    margin-top: 5%;
    line-height: 30px;
    text-align: center;
    /*width: 800px;*/
    padding: 1em;
    /*border: 1px solid rgb(210, 32, 201);*/
    /*opacity : 0.8;*/
    display : block;
}

h1 {
    position: absolute;
    top: 12px;
    left: 125px;
}

h2 {
    width: 95vw; /* Prend toute la largeur horizontale de l'écran */
    border: 2px solid black; /* Bordure de 2 pixels de largeur et de couleur noire */
    background-color: #f3d6e5; /* Couleur d'arrière-plan foncée */
    padding: 10px; /* Espace intérieur de 10 pixels autour du texte */
    /*text-align: left;  Alignement du texte à gauche */
    border-radius: 5px; /* Rayon de courbure des bordures de 10 pixels */
  }
  

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.recette {
    position: relative;
    background-color: #d6cdd2;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(255, 0, 157, 0.1);
    transition: transform 0.3s ease;
}

.recette:before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: #060505;
    opacity: 0.1;
    z-index: -1;
}

.recette:hover {
    transform: translateY(-5px);
}

.recette img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.titre-recette {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.nom-recette a {
    color: #090909; /* Couleur des liens */
    font-weight: bold;
    text-decoration: none; /* Supprimer le soulignement */
}

.nom-recette a:hover {
    color: #f3d6e5; /* Couleur des liens au survol */
}

/*pas a moi*/

/*css du menu deroulant du menu*/
#menu {
    display: none;
    position: absolute;
    top: 15px;
    left: 80px;
    width: 280px;
    background-color: #fff3f8;
    border: 3px solid #f3d6e5;
    padding: 10px;
    height: 250px;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 5;
}

#menu ul li a {
    text-decoration: none;
    color: #0f0e0e;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#MenuButton {
    position: absolute;
    top: 25px;
    left: 30px;
    width: 40px;
    height: 40px;
}




/*css du bouton recette et barre de recherche*/
#Rechercher {
    position: absolute;
    top: 30px;
    left: 380px;
    width: 800px;
    height: 150px;
}

#RechercherButton {
    width: 10%; 
    height: 25%;
    font-size: 15px; 
}

#RechercherBarre {
    width: 60%; 
    height: 25%;
    background-color: #ffffff;
    border: 3px solid #f3d6e5;
    border-radius: 20px;
    font-size: 15px; 
    box-shadow: 0 2px 4px rgba(6, 5, 5, 0.1);
    text-align: center;
}




/*css pour changer le fond en noir*/
#ThemeButton{
    position: absolute;
    top: 30px;
    right : 150px;
    width: 50px;
    height: 30px;
}




/*css du menu deroulant du compte*/
#compte {
    display: none;
    position: absolute;
    top: 50px;
    right: 0px;
    width: 200px;
    background-color: #fff;
    border: 3px solid #ccc;
    padding: 10px;
}

#compte ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#compte ul li a {
    text-decoration: none;
    color: #0f0e0e;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#CompteButton {
    position: absolute;
    top: 25px;
    right: 30px;
    width: 100px;
    height: 40px;
    text-align: center;
}




/*css des buttons*/
.Button {
    background-color: #ffffff;
    border: 3px solid #f3d6e5;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 20px;
}

.Button:hover {
    background-color: #f7ebf0;
}

.Button {
    box-shadow: 0 2px 4px rgba(6, 5, 5, 0.1);
}
  
.Button:hover {
    box-shadow: 0 3px 8px rgba(10, 9, 9, 0.2);
}
